# ==========================================
# 📦 Common Libraries (ใช้ทั้ง Server และ Client)
# ==========================================
opencv-python
numpy
requests

# ==========================================
# 🧠 Server Side (API, AI, Database, Monitor)
# ==========================================
fastapi
uvicorn
python-multipart
deepface
python-dotenv
psutil
pillow
# shutil (มีใน Python อยู่แล้ว ไม่ต้อง install)
# sqlite3 (มีใน Python อยู่แล้ว ไม่ต้อง install)

# ==========================================
# 🖥️ Client Side (GUI, Audio, Kiosk)
# ==========================================
PyQt6
gTTS
pygame
# winsound (มีใน Python Windows อยู่แล้ว)