# --- Core Web Server & API ---
fastapi
uvicorn
python-multipart
requests
python-dotenv

# --- AI & Image Processing ---
deepface
opencv-python
numpy
pillow

# --- System Monitor & Utilities ---
psutil
shutil

# --- Client Side (GUI & Audio) ---
PyQt6
gTTS
pygame
# (winsound ไม่ต้องลง เป็น built-in ของ Windows)